/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/* ---------------- Light Theme ---------------- */
:root {
  --primary-color: #0ABEAD;
  --text-color: #333333;
  --app-bg-color: #ffffff;
  --section-bg-color: #f8f8f8;
}

/* ---------------- Dark Theme ---------------- */
html.dark {
  --primary-color: #0ABEAD;
  --text-color: #95A5C6;
  --app-bg-color: #161D26;
  --section-bg-color: #1F2935;
}

/* ---------------- Sass Variables ---------------- */
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

/*

Grid System

*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row > * {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
}

html.dark .row > * {
  padding-right: 0;
  padding-right: 0;
}

.col {
  max-width: 100%;
  flex-grow: 1;
}

.col_1 {
  width: 8.333333%;
}

.col_2 {
  width: 16.666666%;
}

.col_3 {
  width: 25%;
}

.col_4 {
  flex: 1 1 auto;
}

.col_5 {
  width: 41.666666%;
}

.col_6 {
  width: 50%;
}

.col_7 {
  width: 58.333333%;
}

.col_8 {
  width: 66.666666%;
}

.col_9 {
  width: 75%;
}

.col_10 {
  width: 83.333333%;
}

.col_11 {
  width: 91.6666666%;
}

.col_12 {
  width: 100%;
}

/* sm */
@media (min-width: 576px) {
  .container {
    width: 54rem;
  }
  .col_sm_1 {
    width: 8.333333%;
    flex: 0 0 auto;
  }
  .col_sm_2 {
    width: 16.666666%;
    flex: 0 0 auto;
  }
  .col_sm_3 {
    width: 25%;
    flex: 0 0 auto;
  }
  .col_sm_4 {
    width: 33.333333%;
    flex: 0 0 auto;
  }
  .col_sm_5 {
    width: 41.666666%;
    flex: 0 0 auto;
  }
  .col_sm_6 {
    width: 50%;
    flex: 1 0 auto;
  }
  .col_sm_7 {
    width: 58.333333%;
    flex: 0 0 auto;
  }
  .col_sm_8 {
    width: 66.666666%;
    flex: 0 0 auto;
  }
  .col_sm_9 {
    width: 75%;
    flex: 0 0 auto;
  }
  .col_sm_10 {
    width: 83.333333%;
    flex: 0 0 auto;
  }
  .col_sm_11 {
    width: 91.6666666%;
    flex: 0 0 auto;
  }
  .col_sm_12 {
    width: 100%;
    flex: 0 0 auto;
  }
  /* md */
}
@media (min-width: 576px) and (min-width: 768px) {
  .container {
    width: 72rem;
  }
  .col_md_1 {
    width: 8.333333%;
    flex: 0 0 auto;
  }
  .col_md_2 {
    width: 16.666666%;
    flex: 0 0 auto;
  }
  .col_md_3 {
    width: 25%;
    flex: 0 0 auto;
  }
  .col_md_4 {
    width: 33.333333%;
    flex: 0 0 auto;
  }
  .col_md_5 {
    width: 41.666666%;
    flex: 0 0 auto;
  }
  .col_md_6 {
    width: 50%;
    flex: 0 0 auto;
  }
  .col_md_7 {
    width: 58.333333%;
    flex: 0 0 auto;
  }
  .col_md_8 {
    width: 66.666666%;
    flex: 0 0 auto;
  }
  .col_md_9 {
    width: 75%;
    flex: 0 0 auto;
  }
  .col_md_10 {
    width: 83.333333%;
    flex: 0 0 auto;
  }
  .col_md_11 {
    width: 91.6666666%;
    flex: 0 0 auto;
  }
  .col_md_12 {
    width: 100%;
    flex: 0 0 auto;
  }
  /* lg */
}
@media (min-width: 576px) and (min-width: 768px) and (min-width: 992px) {
  .container {
    width: 96rem;
  }
  .col_lg_1 {
    width: 8.333333%;
  }
  .col_lg_2 {
    width: 16.666666%;
  }
  .col_lg_3 {
    width: 25%;
  }
  .col_lg_4 {
    width: 33.333333%;
  }
  .col_lg_5 {
    width: 41.666666%;
  }
  .col_lg_6 {
    width: 50%;
  }
  .col_lg_7 {
    width: 58.333333%;
  }
  .col_lg_8 {
    width: 66.666666%;
  }
  .col_lg_9 {
    width: 75%;
  }
  .col_lg_10 {
    width: 83.333333%;
  }
  .col_lg_11 {
    width: 91.6666666%;
  }
  .col_lg_12 {
    width: 100%;
  }
}
/* xl */
@media (min-width: 1200px) {
  .container {
    width: 114rem;
  }
  .col_xl_1 {
    width: 8.333333%;
    flex: 0 0 auto;
  }
  .col_xl_2 {
    width: 16.666666%;
    flex: 0 0 auto;
  }
  .col_xl_3 {
    width: 25%;
    flex: 0 0 auto;
  }
  .col_xl_4 {
    width: 33.333333%;
    flex: 0 0 auto;
  }
  .col_xl_5 {
    width: 41.666666%;
    flex: 0 0 auto;
  }
  .col_xl_6 {
    width: 50%;
  }
  .col_xl_7 {
    width: 58.333333%;
    flex: 0 0 auto;
  }
  .col_xl_8 {
    width: 66.666666%;
    flex: 0 0 auto;
  }
  .col_xl_9 {
    width: 75%;
    flex: 0 0 auto;
  }
  .col_xl_10 {
    width: 83.333333%;
    flex: 0 0 auto;
  }
  .col_xl_11 {
    width: 91.6666666%;
    flex: 0 0 auto;
  }
  .col_xl_12 {
    width: 100%;
    flex: 0 0 auto;
  }
}
/* xxl */
@media (min-width: 1400px) {
  .container {
    width: 137rem;
  }
  .col_xxl_1 {
    width: 8.333333%;
    flex: 0 0 auto;
  }
  .col_xxl_2 {
    width: 16.666666%;
    flex: 0 0 auto;
  }
  .col_xxl_3 {
    width: 25%;
    flex: 0 0 auto;
  }
  .col_xxl_4 {
    width: 33.333333%;
    flex: 0 0 auto;
  }
  .col_xxl_5 {
    width: 41.666666%;
    flex: 0 0 auto;
  }
  .col_xxl_6 {
    width: 50%;
    flex: 0 0 auto;
  }
  .col_xxl_7 {
    width: 58.333333%;
    flex: 0 0 auto;
  }
  .col_xxl_8 {
    width: 66.666666%;
    flex: 0 0 auto;
  }
  .col_xxl_9 {
    width: 75%;
    flex: 0 0 auto;
  }
  .col_xxl_10 {
    width: 83.333333%;
    flex: 0 0 auto;
  }
  .col_xxl_11 {
    width: 91.6666666%;
    flex: 0 0 auto;
  }
  .col_xxl_12 {
    width: 100%;
    flex: 0 0 auto;
  }
}
.pricingSection {
  margin-top: 12rem;
  background-color: var(--section-bg-color);
  transform: translateZ(0) skewY(-5deg);
  -webkit-transform: translateZ(0) skewY(-5deg);
  -moz-transform: translateZ(0) skewY(-5deg);
  -ms-transform: translateZ(0) skewY(-5deg);
  -o-transform: translateZ(0) skewY(-5deg);
  box-shadow: 0 0 8rem rgba(19, 182, 255, 0.1411764706);
  padding: 2rem 0 20rem 0;
}

:global(html.dark) .pricingSection {
  box-shadow: none;
}

.pricingSection .container {
  transform: translateZ(0) skewY(5deg);
  -webkit-transform: translateZ(0) skewY(5deg);
  -moz-transform: translateZ(0) skewY(5deg);
  -ms-transform: translateZ(0) skewY(5deg);
  -o-transform: translateZ(0) skewY(5deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cardsWrapper {
  width: 100%;
  display: flex;
  gap: 3rem;
  background-color: var(--section-bg-color);
  box-shadow: 0 0 8rem rgba(96, 234, 255, 0.1529411765);
}

.pricingCard {
  height: 60rem;
  box-shadow: 0 0 8rem rgba(96, 233, 255, 0.1529411765);
  background-color: var(--app-bg-color);
}

:global(html.dark) .pricingCard, .cardsWrapper {
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.specification {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  color: #fff;
  width: 100%;
}

.specification__title {
  font-size: 3.6rem;
}

.specification__price {
  font-size: 2.4rem;
}

.priceList {
  margin: 4rem auto 0;
  width: -moz-fit-content;
  width: fit-content;
}

.priceList__item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 2rem;
}

.priceList__item span {
  margin-right: 0.5rem;
}

.button {
  display: block;
  text-align: center;
  margin: 3rem auto 0;
  width: 20rem;
  height: 6rem;
  line-height: 6rem;
  background-color: #f57f17;
  color: #fff;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

@media (max-width: 576px) {
  .pricingCard {
    width: 100%;
  }
}/*# sourceMappingURL=Pricing.module.css.map */