@use "../../styles" as *;
@import "../../styles/grid-system.scss";
@import "../../styles/breakpointsExact.scss";

.pricingSection {
  margin-top: 12rem;
  background-color: $section-bg-color;
  transform: translateZ(0) skewY(-5deg);
  -webkit-transform: translateZ(0) skewY(-5deg);
  -moz-transform: translateZ(0) skewY(-5deg);
  -ms-transform: translateZ(0) skewY(-5deg);
  -o-transform: translateZ(0) skewY(-5deg);
  box-shadow: 0 0 8rem #13b6ff24;
  padding: 2rem 0 20rem 0;
}

:global(html.dark) .pricingSection {
  box-shadow: none;
}

.pricingSection .container {
  transform: translateZ(0) skewY(5deg);
  -webkit-transform: translateZ(0) skewY(5deg);
  -moz-transform: translateZ(0) skewY(5deg);
  -ms-transform: translateZ(0) skewY(5deg);
  -o-transform: translateZ(0) skewY(5deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cardsWrapper {
  width: 100%;
  display: flex;
  gap: 3rem;
  background-color: $section-bg-color;
  box-shadow: 0 0 8rem #60eaff27;
}

.pricingCard {
  // flex-grow: 1;
  // width: 37rem;
  height: 60rem;
  box-shadow: 0 0 8rem #60e9ff27;
  background-color: $app-bg-color;
}

:global(html.dark) .pricingCard, .cardsWrapper {
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.specification {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  color: #fff;
  width: 100%;
}

.specification__title {
  font-size: 3.6rem;
}
.specification__price {
  font-size: 2.4rem;
}

.priceList {
  margin: 4rem auto 0;
  width: fit-content;
}

.priceList__item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 2rem;
}

// .priceList__item:first-child {
//   margin-top: -0.5rem;
// }

.priceList__item span {
  margin-right: 0.5rem;
}

.button {
  display: block;
  text-align: center;
  margin: 3rem auto 0;
  width: 20rem;
  height: 6rem;
  line-height: 6rem;
  background-color: #f57f17;
  color: #fff;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

@include mobile {
  .pricingCard {
    width: 100%;
  }
}
