@use "../../styles" as *;
@import "../../styles/grid-system.scss";
@import "../../styles/breakpointsExact.scss";

.pricingSection {
  margin-top: 12rem;
  background-color: $section-bg-color;
  transform: translateZ(0) skewY(-5deg);
  -webkit-transform: translateZ(0) skewY(-5deg);
  -moz-transform: translateZ(0) skewY(-5deg);
  -ms-transform: translateZ(0) skewY(-5deg);
  -o-transform: translateZ(0) skewY(-5deg);
  box-shadow: 0 0 8rem #13b6ff24;
  padding: 2rem 0 20rem 0;
}

:global(html.dark) .pricingSection {
  box-shadow: none;
}

.pricingSection .container {
  transform: translateZ(0) skewY(5deg);
  -webkit-transform: translateZ(0) skewY(5deg);
  -moz-transform: translateZ(0) skewY(5deg);
  -ms-transform: translateZ(0) skewY(5deg);
  -o-transform: translateZ(0) skewY(5deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cardsWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  background-color: $section-bg-color;
  box-shadow: 0 0 8rem #60eaff27;
}

