$mobileExact: 576px;
$tabletExact: 768px;
$laptopExact: 992px;
$desktopExact: 1200px;
$largeExact: 1400px;





@mixin mobileExact {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin tabletExact {
  @media (min-width: 577px) and (max-width: 768px) {
    @content;
  }
}

@mixin laptopExact {
  @media (min-width: 769px) and (max-width: 992px) {
    @content;
  }
}

@mixin desktopExact {
  @media (min-width: 993px) and (max-width: 1200px) {
    @content;
  }
}

@mixin largeExact {
  @media (min-width: 1201px) and (max-width: 1400px) {
    @content;
  }
}