/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

// Variables //


$text-color: #333333;
$primary-color: #0ABEAD;
$app-bg-color: #fff;
$section-bg-color: #fff;
$bodyBg: #FAF4F2;

