/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/* ---------------- Light Theme ---------------- */
:root {
  --primary-color: #0ABEAD;
  --text-color: #333333;
  --app-bg-color: #ffffff;
  --section-bg-color: #f8f8f8;
}

/* ---------------- Dark Theme ---------------- */
html.dark {
  --primary-color: #0ABEAD;
  --text-color: #95A5C6;
  --app-bg-color: #161D26;
  --section-bg-color: #1F2935;
}

/* ---------------- Sass Variables ---------------- */
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

/*

Grid System

*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row > * {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
}

html.dark .row > * {
  padding-right: 0;
  padding-right: 0;
}

.col {
  max-width: 100%;
  flex-grow: 1;
}

.col_1 {
  width: 8.333333%;
}

.col_2 {
  width: 16.666666%;
}

.col_3 {
  width: 25%;
}

.col_4 {
  flex: 1 1 auto;
}

.col_5 {
  width: 41.666666%;
}

.col_6 {
  width: 50%;
}

.col_7 {
  width: 58.333333%;
}

.col_8 {
  width: 66.666666%;
}

.col_9 {
  width: 75%;
}

.col_10 {
  width: 83.333333%;
}

.col_11 {
  width: 91.6666666%;
}

.col_12 {
  width: 100%;
}

/* sm */
@media (min-width: 576px) {
  .container {
    width: 54rem;
  }
  .col_sm_1 {
    width: 8.333333%;
    flex: 0 0 auto;
  }
  .col_sm_2 {
    width: 16.666666%;
    flex: 0 0 auto;
  }
  .col_sm_3 {
    width: 25%;
    flex: 0 0 auto;
  }
  .col_sm_4 {
    width: 33.333333%;
    flex: 0 0 auto;
  }
  .col_sm_5 {
    width: 41.666666%;
    flex: 0 0 auto;
  }
  .col_sm_6 {
    width: 50%;
    flex: 1 0 auto;
  }
  .col_sm_7 {
    width: 58.333333%;
    flex: 0 0 auto;
  }
  .col_sm_8 {
    width: 66.666666%;
    flex: 0 0 auto;
  }
  .col_sm_9 {
    width: 75%;
    flex: 0 0 auto;
  }
  .col_sm_10 {
    width: 83.333333%;
    flex: 0 0 auto;
  }
  .col_sm_11 {
    width: 91.6666666%;
    flex: 0 0 auto;
  }
  .col_sm_12 {
    width: 100%;
    flex: 0 0 auto;
  }
  /* md */
}
@media (min-width: 576px) and (min-width: 768px) {
  .container {
    width: 72rem;
  }
  .col_md_1 {
    width: 8.333333%;
    flex: 0 0 auto;
  }
  .col_md_2 {
    width: 16.666666%;
    flex: 0 0 auto;
  }
  .col_md_3 {
    width: 25%;
    flex: 0 0 auto;
  }
  .col_md_4 {
    width: 33.333333%;
    flex: 0 0 auto;
  }
  .col_md_5 {
    width: 41.666666%;
    flex: 0 0 auto;
  }
  .col_md_6 {
    width: 50%;
    flex: 0 0 auto;
  }
  .col_md_7 {
    width: 58.333333%;
    flex: 0 0 auto;
  }
  .col_md_8 {
    width: 66.666666%;
    flex: 0 0 auto;
  }
  .col_md_9 {
    width: 75%;
    flex: 0 0 auto;
  }
  .col_md_10 {
    width: 83.333333%;
    flex: 0 0 auto;
  }
  .col_md_11 {
    width: 91.6666666%;
    flex: 0 0 auto;
  }
  .col_md_12 {
    width: 100%;
    flex: 0 0 auto;
  }
  /* lg */
}
@media (min-width: 576px) and (min-width: 768px) and (min-width: 992px) {
  .container {
    width: 96rem;
  }
  .col_lg_1 {
    width: 8.333333%;
  }
  .col_lg_2 {
    width: 16.666666%;
  }
  .col_lg_3 {
    width: 25%;
  }
  .col_lg_4 {
    width: 33.333333%;
  }
  .col_lg_5 {
    width: 41.666666%;
  }
  .col_lg_6 {
    width: 50%;
  }
  .col_lg_7 {
    width: 58.333333%;
  }
  .col_lg_8 {
    width: 66.666666%;
  }
  .col_lg_9 {
    width: 75%;
  }
  .col_lg_10 {
    width: 83.333333%;
  }
  .col_lg_11 {
    width: 91.6666666%;
  }
  .col_lg_12 {
    width: 100%;
  }
}
/* xl */
@media (min-width: 1200px) {
  .container {
    width: 114rem;
  }
  .col_xl_1 {
    width: 8.333333%;
    flex: 0 0 auto;
  }
  .col_xl_2 {
    width: 16.666666%;
    flex: 0 0 auto;
  }
  .col_xl_3 {
    width: 25%;
    flex: 0 0 auto;
  }
  .col_xl_4 {
    width: 33.333333%;
    flex: 0 0 auto;
  }
  .col_xl_5 {
    width: 41.666666%;
    flex: 0 0 auto;
  }
  .col_xl_6 {
    width: 50%;
  }
  .col_xl_7 {
    width: 58.333333%;
    flex: 0 0 auto;
  }
  .col_xl_8 {
    width: 66.666666%;
    flex: 0 0 auto;
  }
  .col_xl_9 {
    width: 75%;
    flex: 0 0 auto;
  }
  .col_xl_10 {
    width: 83.333333%;
    flex: 0 0 auto;
  }
  .col_xl_11 {
    width: 91.6666666%;
    flex: 0 0 auto;
  }
  .col_xl_12 {
    width: 100%;
    flex: 0 0 auto;
  }
}
/* xxl */
@media (min-width: 1400px) {
  .container {
    width: 137rem;
  }
  .col_xxl_1 {
    width: 8.333333%;
    flex: 0 0 auto;
  }
  .col_xxl_2 {
    width: 16.666666%;
    flex: 0 0 auto;
  }
  .col_xxl_3 {
    width: 25%;
    flex: 0 0 auto;
  }
  .col_xxl_4 {
    width: 33.333333%;
    flex: 0 0 auto;
  }
  .col_xxl_5 {
    width: 41.666666%;
    flex: 0 0 auto;
  }
  .col_xxl_6 {
    width: 50%;
    flex: 0 0 auto;
  }
  .col_xxl_7 {
    width: 58.333333%;
    flex: 0 0 auto;
  }
  .col_xxl_8 {
    width: 66.666666%;
    flex: 0 0 auto;
  }
  .col_xxl_9 {
    width: 75%;
    flex: 0 0 auto;
  }
  .col_xxl_10 {
    width: 83.333333%;
    flex: 0 0 auto;
  }
  .col_xxl_11 {
    width: 91.6666666%;
    flex: 0 0 auto;
  }
  .col_xxl_12 {
    width: 100%;
    flex: 0 0 auto;
  }
}
.header {
  background-color: var(--section-bg-color);
  box-shadow: 0rem 0.5rem 4rem rgba(4, 195, 255, 0.0862745098);
  z-index: 100;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

:global(html.dark) .header {
  box-shadow: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.nav__logo {
  font-size: 6rem;
  color: var(--primary-color);
  font-family: "Poppins Black";
  font-weight: bolder;
}

.list {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
  z-index: 3;
}

.list__link {
  color: var(--text-color);
  font-family: "Poppins Medium";
  font-weight: 600;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
}

.list__link:hover {
  color: var(--primary-color);
}

.list__link_active {
  color: var(--primary-color);
}

.icon {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  display: none;
  cursor: pointer;
}

.icon__line,
.icon__line::after,
.icon__line::before {
  width: 4.5rem;
  height: 0.5rem;
  background-color: var(--primary-color);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

.icon__line {
  position: relative;
}

.icon__line::after,
.icon__line::before {
  content: "";
  position: absolute;
}

.icon__line::before {
  top: 1.2rem;
}

.icon__line::after {
  top: -1.2rem;
}

@media (max-width: 992px) {
  .list {
    gap: 1.5rem;
  }
  .nav__logo {
    font-size: 5rem;
  }
}
@media (max-width: 768px) {
  .list {
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    background-color: var(--section-bg-color);
    position: absolute;
    top: 85%;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: auto;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    height: 0;
    overflow: hidden;
  }
  .list_open {
    height: 36rem;
  }
  .list__item {
    padding: 0.5rem 0;
  }
  .list__item:first-child {
    padding-top: 2rem;
  }
  .list__item:last-child {
    padding-bottom: 2rem;
  }
  .list__link {
    color: var(--text-color);
    font-family: "Poppins Medium";
    font-weight: 600;
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon_open .icon__line {
    background-color: transparent;
  }
  .icon_open .icon__line::before {
    transform: translateY(-1.2rem) rotate(45deg);
    -webkit-transform: translateY(-1.2rem) rotate(45deg);
    -moz-transform: translateY(-1.2rem) rotate(45deg);
    -ms-transform: translateY(-1.2rem) rotate(45deg);
    -o-transform: translateY(-1.2rem) rotate(45deg);
  }
  .icon_open .icon__line::after {
    transform: translateY(1.2rem) rotate(-45deg);
    -webkit-transform: translateY(1.2rem) rotate(-45deg);
    -moz-transform: translateY(1.2rem) rotate(-45deg);
    -ms-transform: translateY(1.2rem) rotate(-45deg);
    -o-transform: translateY(1.2rem) rotate(-45deg);
  }
  .cover {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.062745098);
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
}/*# sourceMappingURL=Header.module.css.map */